.navigation__item {
    display: flex;
    align-items: center;
    color: #a8aebf;
    letter-spacing: 0.02em;
}

.navigation__item:hover {
    color: #fff;
}

.navigation__item--active {
    color: #fff;
}

/* NavItem.css */
.counter-icon {
    width: 24px;
    height: 24px;
    position: relative;
}

.counter-icon__circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #7B6EF6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.counter-icon__count {
    font-weight: bold;
}
