{
  "semi": true,
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true
}