@import 'reset-css';
@import './_fonts.css';

:root {
	font-family: 'Poppins', system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 600;
	max-width: 1200px;
	margin: 0 auto;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
}